{% extends "Integracion/tipo_grafico.html" %}
{% block title %}Moda{% endblock %}


{% block content %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://code.jquery.com/jquery-latest.js"></script>
<style>.todo{padding: 5px 10px;}</style>
<div class="todo">
<h3>Información del paciente</h3>
<style> td {padding-right:10px}</style>
<table>
    <tr><td>Nombre: </td><td>{{info.nombre}}</td></tr>
    <tr><td>Rut: </td><td>{{info.rut}}</td></tr>
    <tr><td>Dirección: </td><td>{{info.direccion}}</td></tr>
    <tr><td>Fecha de nacimiento: </td><td>{{info.fecha_nacimiento}}</td></tr>
    <tr><td>Ciudad: </td><td>{{info.ciudad}}</td></tr>
</table>
<br><br><br>
<h3>Sesiones del paciente: {{cant}}</h3>


{%for v in sesiones%}
    <b>Nombre de sesión:</b> {{v.sesion.nombre_sesion}}<br>
    <b>Fecha:</b> {{v.sesion.fecha}}<br>
    <b>Profesional:</b> {{v.sesion.nombre_profesional}}, {{v.sesion.profesion}}<br>
    <b>Centro de salud:</b> {{v.sesion.centro_salud}}<br>
<hr>
{%endfor%}

<br><br><br><br>


    <div style="text-align:center" id="graf_por_medico" style="width:600px;height:400px;"></div><br>

    <div style="text-align:center" id="graf_por_hospital" style="width:600px;height:400px;"></div><br>

    <div style="text-align:center" id="graf_por_profesion" style="width:600px;height:400px;"></div>

<script>

    var variable0 = '{{v0}}'	; var contador0='{{c0}}';
    var variable1 = '{{v1}}'	; var contador1='{{c1}}';
    var variable2 = '{{v2}}'	; var contador2='{{c2}}';
    console.log(variable0)
    console.log(contador0)
    console.log(variable1)
    console.log(contador1)
    console.log(variable2)
    console.log(contador2)
    
    function eje_x(variable){
        variable = variable.replace(/&quot;/g,'');
        variable = variable.replace('[',''); variable = variable.replace(']','');
        variable = variable.toString(); variable = variable.split(',')

        return variable;
    };

    function eje_y(contador){
        contador = contador.replace('[','');
        contador = contador.replace(']','');
        contador = contador.split(',').map(Number);

        return contador;
    }

    variable0 = eje_x(variable0);
    contador0 = eje_y(contador0);
    var data0 = [{
      values: contador0,
      labels: variable0,
      type: 'pie'
    }];

    variable1 = eje_x(variable1);
    contador1 = eje_y(contador1);

    var data1 = [{
      values: contador1,
      labels: variable1,
      type: 'pie'
    }];
    console.log(contador1);
    console.log(variable1);



    // esto no lo uso, es para tipo scatter
	var data2 = [
		{
			x: eje_x(variable2),
			y: eje_y(contador2),
			type: 'scatter',
			marker: {
				color: 'rgb(222,164,32)',
				opacity:1,
				line: {
					color:'rgb(154,54,45)',
					width: 1.5
				}
			}
		}
	]

	variable2 = eje_x(variable2);
	contador2 = eje_y(contador2);
    var data2 = [{
      values: contador2,
      labels: variable2,
      type: 'pie'
    }];




	Plotly.newPlot('graf_por_medico', data0, {title:{text:'Médicos que lo atendieron',font:{size:26,color:'#5a5c69'}},paper_bgcolor: '#f8f9fc'});
	Plotly.newPlot('graf_por_hospital', data1, {title:{text:'Centros de salud visitados',font:{size:26,color:'#5a5c69'}},paper_bgcolor: '#f8f9fc'});
	Plotly.newPlot('graf_por_profesion', data2,{title:{text:'Médicos por profesión visitados', font:{size:26,color:'#5a5c69'}},paper_bgcolor: '#f8f9fc'});

</script>

</div>


{% endblock %}
