{% extends "Integracion/tipo_grafico.html" %}
{% block title %}Moda{% endblock %}
{% block content %}
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<h1 style="text-align:center">Grafico a Trabajar</h1>
<h3 style="text-align:center"><b>Moda de Datos Historiales clinicos</b></h1>
<form method="post" style="text-align:center">
	{% csrf_token %}
	<select name = "drop2">
		<optgroup label="Paciente">
			<option value="nombre">Nombre Paciente</option>
			<option value="apellidos">Apellidos Paciente</option>
			<option value="rut">Rut Paciente</option>
			<option value="direccion">Direccion Paciente</option>
		</optgroup>
		<optgroup label="Sesion Medica">
			<option value="nombre_sesion">Nombre Sesion</option>
			<option value="fechas">Fecha Sesion</option>
			<option value="nombre_profesional">Nombre Medico</option>
			<option value="profesion">Especialidad Medico</option>	
			<option value="centro_salud">Centro de Salud</option>	
		</optgroup>
		<optgroup label="Arquetipos">
			<option value="tipo">Tipo</option>
			<option value="clave">Clave</option>
			<option value="valor">Valor</option>
		</optgroup>
	</select><br>
	<b style="text-align: center">Donde</b>
	<br>
	<button type="button" id="btn_enable" class="btn btn-success">Habilitar Condicion</button><button type="button" id="btn_disable" class="btn btn-disable">Deshabilitar Condicion</button>
	<br>
	<select name = "drop3">
		<optgroup label="Paciente">
			<option value="nombre">Nombre Paciente</option>
			<option value="apellidos">Apellidos Paciente</option>
			<option value="rut">Rut Paciente</option>
			<option value="direccion">Direccion Paciente</option>
		</optgroup>
		<optgroup label="Sesion Medica">
			<option value="nombre_sesion">Nombre Sesion</option>
			<option value="fechas">Fecha Sesion</option>
			<option value="nombre_profesional">Nombre Medico</option>
			<option value="profesion">Especialidad Medico</option>	
			<option value="centro_salud">Centro de Salud</option>	
		</optgroup>
		<optgroup label="Arquetipos">
			<option value="tipo">Tipo</option>
			<option value="clave">Clave</option>
			<option value="valor">Valor</option>
		</optgroup>
	</select>
	<select id="equal" name="drop4" disabled>
		<option value="$eq">=</option>
		<option value="distinto">!=</option>
	</select>
	<input type="text" id="input" name="input1" disabled>
	<hr>
	<input type="submit" value="Generar Grafico" class="btn btn-primary">
	</form>

<!--<img src="data:image/png;base64,{{data}}" width="600px" /-->
<div style="text-align:center" id="tester" style="width:900px;height:450px;"></div>
<script>


	TESTER = document.getElementById('tester');
	Plotly.newPlot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );


</script>

{% endblock %}