{% extends "Integracion/tipo_grafico.html" %}
{% block title %}Promedio{% endblock %}

{% load static %}
{% block content %}
<h1>Datos Promedio</h1>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" accept=".json">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p><a href="{{ uploaded_file_url }}">{{ uploaded_file_url }} <br><br><br><br> {{data2}}<br><br><br><br> {{data3}}</a></p>
    <!-- <img src="data:image/png;base64,{{data2}}" width="600px" /> -->
  {% endif %}

{% endblock %}