{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Plataforma DataScience - Inicio</title>

{% include 'scripts.html' %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

{% include 'sidebar.html' %}

      <section class="pricing py-5">
        <div class="container">
          <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
              <div class="card mb-6 py-3 border-left-primary">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Usuario Básico</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Usuario unico</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a tutoriales Python.</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Calculos predefinidos</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Funciones Predefinidas</li>
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Comenzar</a>
                  <form action='read_post_all' method='GET'>
                    <button type='submit'> uwu </button>
                    </form>
                </div>
              </div>
            </div>
            
            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card mb-6 py-3 border-left-primary">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Usuario Avanzado</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Poder programar directamente</strong></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Interfaz a modo de consola para programar en tiempo real</li>
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Comenzar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "salir", si deseas cerrar la sesion.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="login.html">Salir</a>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
