{% extends "Integracion/tipo_grafico.html" %}

{% block title %} {{ c_titulo }} {% endblock %}
{% block content %}

<h3>Resultados para {{c_titulo}}</h3><br>
<div id="area_datos" style="background-color:white; width:95%; height:500px; overflow-x: scroll;">
{% for i in page_obj %}
    <div onclick="bbb(this);">
        ver registro
        <pre><div class="masinfo" style="display:none">{{ i }}</div></pre><br><br>
    </div>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">primera&laquo; </a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;final</a>
        {% endif %}
    </span>
</div>


<a href="/datos/">Volver a búsqueda</a>
<script>
    function bbb(e){
      x = e.querySelector(".masinfo");
      n = x.innerHTML.replace(/'/g, '"');
      //x.textContent = JSON.parse(JSON.stringify(n, null, '\t'));
      x.innerHTML = JSON.parse(JSON.stringify(n, null, '\t'));
      if(x.style.display === "block"){
        x.style.display = "none";
      }
      else{
        x.style.display = "block";
      }
    }
</script>


{% endblock %}