<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>
  	{% block title %}
  	{% endblock %}
	</title>
	{% include 'scripts.html' %}
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper" width=100%>
  	{% include 'sidebar.html' %}
  	<div style="position: absolute; top:0; height: 90%; width:83%;">
		<div style="height:8%; width:100%;  overflow-y: scroll; background-color: #3774de">
			<font color=white>
			<table border=1 width=100%>
				<tr>
					<td colspan=4></td>
					<td colspan=2>estructura1</td>
					<td colspan=2>estructura2</td>
					<td colspan=2>estructura3</td>
				</tr>
				<tr>
					<td width=34%>TEXTO    </td>
					<td width= 4%>TIPO     </td>
					<td width=10%>ARQUETIPO</td>
					<td width= 8%>TEXTO    </td>
					<td width= 8%>TIPO     </td>
					<td width= 8%>TEXTO    </td>
					<td width= 8%>TIPO     </td>
					<td width= 8%>TEXTO    </td>
					<td width= 8%>TIPO     </td>
				</tr>
			
			</table>
		</div>
		
    <div style="height: 92%; width:100%; overflow-y: scroll; background-color: #00FFF7">
			{% block results %}
			<font color = black>
			<table border=1 width=100%>
			{% for dato in jdatos %}
				<tr>
			    <td width=34%>{{dato.text}}            </td>
			    <td width= 4%>{{dato.tipo}}            </td>
			    <td width=10%>{{dato.tipo_arquetipo}}  </td>
			    <td width= 8%>{{dato.estructura1.text}}</td>
			    <td width= 8%>{{dato.estructura1.tipo}}</td>
			    <td width= 8%>{{dato.estructura2.text}}</td>
			    <td width= 8%>{{dato.estructura2.tipo}}</td>
			    <td width= 8%>{{dato.estructura3.text}}</td>
			    <td width= 8%>{{dato.estructura3.tipo}}</td>
			   </tr>
			{% endfor %}
			</table>
			{% endblock %}
	  </div>
  </div>
  <!-- End Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
  	<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	<div class="modal-dialog" role="document">
  		<div class="modal-content">
    		<div class="modal-header">
      		<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
      		<button class="close" type="button" data-dismiss="modal" aria-label="Close">
        		<span aria-hidden="true">×</span>
      		</button>
    		</div>
    		<div class="modal-body">Selecciona "salir", si deseas cerrar la sesion.</div>
    		<div class="modal-footer">
      		<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
      		<a class="btn btn-primary" href="login.html">Salir</a>
    		</div>
  		</div>
  	</div>
	</div>
</body>
</html>


